In [41]:
import pandas as pd
import numpy as np
from pprint import pprint
import requests
import re
import seaborn as sns
import matplotlib.pyplot as plt

/Users/dayosangowawa/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [42]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict, KFold
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import GridSearchCV
from pactools.grid_search import GridSearchCVProgressBar
from sklearn.metrics import  plot_confusion_matrix, plot_roc_curve, plot_precision_recall_curve, roc_auc_score, average_precision_score
from sklearn.preprocessing import label_binarize
import imblearn
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.metrics import recall_score, precision_score, f1_score, classification_report
from sklearn import preprocessing
import scikitplot as skplt
from sklearn.feature_selection import SelectKBest, chi2

In [43]:
binarized_df = pd.read_csv('/Users/dayosangowawa/Desktop/GA/DSI20-lessons/projects/project-capstone/My Capstone/Forcibly displaced persons/cleaned_unhcrdf_final.csv')
binarized_df.head()

,Unnamed: 0,country_of_origin,country_of_asylum,population_type,urban_or_rural_location,accommodation_type,female_aged_0-4 years,female_aged_5-11 years,female_aged_12-17 years,female_aged_18-59 years,female_aged_over_60_years,male_aged_0-4_years,male_aged_5-11_years,male_aged_12-17 years,male_aged_18-59_years,male_aged_over_60_years
0,0,Colombia,Aruba,ASY,Urban,I,0,0,0,0,0,0,0,0,5,0
1,1,Cuba,Aruba,ASY,Urban,I,0,0,0,0,0,0,0,0,0,0
2,2,Afghanistan,Afghanistan,IDP,Rural,I,0,14,16,37,0,0,15,17,38,5
3,3,Afghanistan,Afghanistan,IDP,Urban,Q,74,810,853,2004,140,75,840,921,2278,206
4,4,Afghanistan,Afghanistan,IDP,Urban,Q,12,130,138,321,21,12,135,147,365,33

In [44]:
binarized_df.drop(columns = ['Unnamed: 0'], inplace=True)

/Users/dayosangowawa/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [45]:
binarized_df.head()

,country_of_origin,country_of_asylum,population_type,urban_or_rural_location,accommodation_type,female_aged_0-4 years,female_aged_5-11 years,female_aged_12-17 years,female_aged_18-59 years,female_aged_over_60_years,male_aged_0-4_years,male_aged_5-11_years,male_aged_12-17 years,male_aged_18-59_years,male_aged_over_60_years
0,Colombia,Aruba,ASY,Urban,I,0,0,0,0,0,0,0,0,5,0
1,Cuba,Aruba,ASY,Urban,I,0,0,0,0,0,0,0,0,0,0
2,Afghanistan,Afghanistan,IDP,Rural,I,0,14,16,37,0,0,15,17,38,5
3,Afghanistan,Afghanistan,IDP,Urban,Q,74,810,853,2004,140,75,840,921,2278,206
4,Afghanistan,Afghanistan,IDP,Urban,Q,12,130,138,321,21,12,135,147,365,33

In [47]:
y = binarized_df.pop('accommodation_type')
X = pd.get_dummies(binarized_df, drop_first=True)

In [48]:
X.shape

(91183, 407)

In [55]:
X_best = SelectKBest(chi2, k=20)

In [56]:
X_best.fit_transform(X, y)

array([[ 0,  0,  0, ...,  0,  0,  1],
       [ 0,  0,  0, ...,  0,  0,  1],
       [ 0, 14, 16, ...,  0,  0,  0],
       ...,
       [ 5,  5,  0, ...,  0,  0,  1],
       [ 6, 10,  6, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  1]])

In [57]:
chi2_scores = pd.DataFrame(list(zip(X.columns, X_best.scores_, X_best.pvalues_)),
                          columns=['Feature', 'Score', 'p-value'])

/Users/dayosangowawa/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [59]:
chi2_scores.sort_values(by='p-value', ascending=True).head(20)

/Users/dayosangowawa/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Feature,Score,p-value
0,female_aged_0-4 years,8.404779e+05,0.000000e+00
389,country_of_asylum_United Kingdom of Great Brit...,1.846556e+03,0.000000e+00
383,country_of_asylum_Turkey,3.169932e+03,0.000000e+00
375,country_of_asylum_Switzerland,4.041575e+03,0.000000e+00
339,country_of_asylum_Norway,1.596377e+03,0.000000e+00
276,country_of_asylum_France,3.517391e+03,0.000000e+00
247,country_of_asylum_Canada,2.523835e+03,0.000000e+00
9,male_aged_over_60_years,2.954798e+04,0.000000e+00
406,urban_or_rural_location_Urban,2.041438e+03,0.000000e+00
7,male_aged_12-17 years,4.677225e+05,0.000000e+00
4,female_aged_over_60_years,3.989373e+04,0.000000e+00
3,female_aged_18-59 years,1.340193e+06,0.000000e+00
8,male_aged_18-59_years,4.303833e+05,0.000000e+00
5,male_aged_0-4_years,9.661804e+05,0.000000e+00
2,female_aged_12-17 years,5.286151e+05,0.000000e+00
6,male_aged_5-11_years,1.159791e+06,0.000000e+00
1,female_aged_5-11 years,1.045774e+06,0.000000e+00
242,country_of_asylum_Bulgaria,1.286632e+03,9.082114e-282
228,country_of_asylum_Austria,1.256849e+03,2.695227e-275
282,country_of_asylum_Greece,1.087085e+03,2.117565e-238

In [97]:
chi2_scores.sort_values(by='p-value', ascending=True).head(21).reset_index().drop(columns=['index', 'Score']).rename(columns ={'Feature': 'Top Features'})

/Users/dayosangowawa/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

                                         Top Features        p-value
0                               female_aged_0-4 years   0.000000e+00
1   country_of_asylum_United Kingdom of Great Brit...   0.000000e+00
2                            country_of_asylum_Turkey   0.000000e+00
3                       country_of_asylum_Switzerland   0.000000e+00
4                            country_of_asylum_Norway   0.000000e+00
5                            country_of_asylum_France   0.000000e+00
6                            country_of_asylum_Canada   0.000000e+00
7                             male_aged_over_60_years   0.000000e+00
8                       urban_or_rural_location_Urban   0.000000e+00
9                               male_aged_12-17 years   0.000000e+00
10                          female_aged_over_60_years   0.000000e+00
11                            female_aged_18-59 years   0.000000e+00
12                              male_aged_18-59_years   0.000000e+00
13                                male_aged_0-4_years   0.000000e+00
14                            female_aged_12-17 years   0.000000e+00
15                               male_aged_5-11_years   0.000000e+00
16                             female_aged_5-11 years   0.000000e+00
17                         country_of_asylum_Bulgaria  9.082114e-282
18                          country_of_asylum_Austria  2.695227e-275
19                           country_of_asylum_Greece  2.117565e-238
20                            country_of_asylum_Egypt  1.345882e-235

In [93]:
chi2_scores.sort_values(by='Score', ascending=False).head(21).reset_index().drop(columns=['index']).rename(columns ={'Feature': 'Top Features'})

/Users/dayosangowawa/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Top Features,Score,p-value
0,female_aged_18-59 years,1.340193e+06,0.000000e+00
1,male_aged_5-11_years,1.159791e+06,0.000000e+00
2,female_aged_5-11 years,1.045774e+06,0.000000e+00
3,male_aged_0-4_years,9.661804e+05,0.000000e+00
4,female_aged_0-4 years,8.404779e+05,0.000000e+00
5,female_aged_12-17 years,5.286151e+05,0.000000e+00
6,male_aged_12-17 years,4.677225e+05,0.000000e+00
7,male_aged_18-59_years,4.303833e+05,0.000000e+00
8,female_aged_over_60_years,3.989373e+04,0.000000e+00
9,male_aged_over_60_years,2.954798e+04,0.000000e+00
10,country_of_asylum_Switzerland,4.041575e+03,0.000000e+00
11,country_of_asylum_France,3.517391e+03,0.000000e+00
12,country_of_asylum_Turkey,3.169932e+03,0.000000e+00
13,country_of_asylum_Canada,2.523835e+03,0.000000e+00
14,urban_or_rural_location_Urban,2.041438e+03,0.000000e+00
15,country_of_asylum_United Kingdom of Great Brit...,1.846556e+03,0.000000e+00
16,country_of_asylum_Norway,1.596377e+03,0.000000e+00
17,country_of_asylum_Bulgaria,1.286632e+03,9.082114e-282
18,country_of_asylum_Austria,1.256849e+03,2.695227e-275
19,country_of_asylum_Greece,1.087085e+03,2.117565e-238
20,country_of_asylum_Egypt,1.074188e+03,1.345882e-235

In [68]:
top_feat = []

for i, z in zip(chi2_scores['Feature'], chi2_scores['p-value']):
    if z == 0:
        top_feat.append(i)

In [69]:
top_feat

['female_aged_0-4 years',
 'female_aged_5-11 years',
 'female_aged_12-17 years',
 'female_aged_18-59 years',
 'female_aged_over_60_years',
 'male_aged_0-4_years',
 'male_aged_5-11_years',
 'male_aged_12-17 years',
 'male_aged_18-59_years',
 'male_aged_over_60_years',
 'country_of_asylum_Canada',
 'country_of_asylum_France',
 'country_of_asylum_Norway',
 'country_of_asylum_Switzerland',
 'country_of_asylum_Turkey',
 'country_of_asylum_United Kingdom of Great Britain and Northern Ireland',
 'urban_or_rural_location_Urban']

In [72]:
top_feat_df = pd.DataFrame(top_feat, columns=['Top Features'])
top_feat_df

                                         Top Features
0                               female_aged_0-4 years
1                              female_aged_5-11 years
2                             female_aged_12-17 years
3                             female_aged_18-59 years
4                           female_aged_over_60_years
5                                 male_aged_0-4_years
6                                male_aged_5-11_years
7                               male_aged_12-17 years
8                               male_aged_18-59_years
9                             male_aged_over_60_years
10                           country_of_asylum_Canada
11                           country_of_asylum_France
12                           country_of_asylum_Norway
13                      country_of_asylum_Switzerland
14                           country_of_asylum_Turkey
15  country_of_asylum_United Kingdom of Great Brit...
16                      urban_or_rural_location_Urban

In [63]:
chi2_scores.sort_values(by='Score', ascending=False).head(20)

,Feature,Score,p-value
3,female_aged_18-59 years,1.340193e+06,0.000000e+00
6,male_aged_5-11_years,1.159791e+06,0.000000e+00
1,female_aged_5-11 years,1.045774e+06,0.000000e+00
5,male_aged_0-4_years,9.661804e+05,0.000000e+00
0,female_aged_0-4 years,8.404779e+05,0.000000e+00
2,female_aged_12-17 years,5.286151e+05,0.000000e+00
7,male_aged_12-17 years,4.677225e+05,0.000000e+00
8,male_aged_18-59_years,4.303833e+05,0.000000e+00
4,female_aged_over_60_years,3.989373e+04,0.000000e+00
9,male_aged_over_60_years,2.954798e+04,0.000000e+00
375,country_of_asylum_Switzerland,4.041575e+03,0.000000e+00
276,country_of_asylum_France,3.517391e+03,0.000000e+00
383,country_of_asylum_Turkey,3.169932e+03,0.000000e+00
247,country_of_asylum_Canada,2.523835e+03,0.000000e+00
406,urban_or_rural_location_Urban,2.041438e+03,0.000000e+00
389,country_of_asylum_United Kingdom of Great Brit...,1.846556e+03,0.000000e+00
339,country_of_asylum_Norway,1.596377e+03,0.000000e+00
242,country_of_asylum_Bulgaria,1.286632e+03,9.082114e-282
228,country_of_asylum_Austria,1.256849e+03,2.695227e-275
282,country_of_asylum_Greece,1.087085e+03,2.117565e-238

In [60]:
top_features = chi2_scores.sort_values(by='p-value', ascending=True).head(20)['Feature']
list(top100features)

/Users/dayosangowawa/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

['female_aged_0-4 years',
 'country_of_asylum_United Kingdom of Great Britain and Northern Ireland',
 'country_of_asylum_Turkey',
 'country_of_asylum_Switzerland',
 'country_of_asylum_Norway',
 'country_of_asylum_France',
 'country_of_asylum_Canada',
 'male_aged_over_60_years',
 'urban_or_rural_location_Urban',
 'male_aged_12-17 years',
 'female_aged_over_60_years',
 'female_aged_18-59 years',
 'male_aged_18-59_years',
 'male_aged_0-4_years',
 'female_aged_12-17 years',
 'male_aged_5-11_years',
 'female_aged_5-11 years',
 'country_of_asylum_Bulgaria',
 'country_of_asylum_Austria',
 'country_of_asylum_Greece',
 'country_of_asylum_Egypt',
 'country_of_asylum_Cyprus',
 'country_of_asylum_Hungary',
 'country_of_asylum_Slovenia',
 'country_of_asylum_Ethiopia',
 'country_of_origin_Azerbaijan',
 'country_of_asylum_Sweden',
 'country_of_asylum_Sudan',
 'country_of_asylum_New Zealand',
 'country_of_asylum_Namibia',
 'country_of_asylum_Azerbaijan',
 'country_of_asylum_Belgium',
 'country_of_asylum_Malawi',
 'country_of_asylum_South Sudan',
 'country_of_asylum_Serbia',
 'country_of_asylum_Jordan',
 'country_of_asylum_Algeria',
 'country_of_asylum_Kenya',
 'country_of_asylum_Botswana',
 'country_of_asylum_Yemen',
 'country_of_asylum_Argentina',
 'country_of_origin_Central African Republic',
 'population_type_IDP',
 'country_of_asylum_Pakistan',
 'country_of_asylum_Croatia',
 'country_of_asylum_Philippines',
 'country_of_asylum_United Republic of Tanzania',
 'country_of_asylum_Congo',
 'country_of_origin_Iraq',
 'country_of_asylum_Gabon',
 'country_of_asylum_China',
 'country_of_asylum_Iran',
 'country_of_origin_Western Sahara',
 'country_of_asylum_Iraq',
 'country_of_asylum_Mexico',
 'country_of_origin_Syrian Arab Republic',
 'country_of_origin_South Sudan',
 'country_of_asylum_Brazil',
 'country_of_asylum_Ukraine',
 'country_of_asylum_Tunisia',
 'country_of_origin_Myanmar',
 'country_of_asylum_Ireland',
 'country_of_asylum_Morocco',
 'country_of_asylum_Spain',
 'country_of_asylum_Cuba',
 'country_of_origin_Yemen',
 'country_of_asylum_Syrian Arab Republic',
 'country_of_asylum_Chad',
 'country_of_origin_State of Palestine',
 "country_of_asylum_Cte d'Ivoire",
 'country_of_asylum_Nigeria',
 'country_of_origin_Iran',
 'country_of_asylum_Libya',
 'country_of_asylum_India',
 'country_of_asylum_Uruguay',
 'country_of_asylum_Djibouti',
 'country_of_asylum_Democratic Republic of the Congo',
 'country_of_asylum_China, Hong Kong Special Administrative Region',
 'country_of_asylum_Panama',
 'country_of_asylum_Mauritania',
 'country_of_asylum_Costa Rica',
 'population_type_REF',
 'country_of_asylum_South Africa',
 'country_of_origin_Unknown',
 'country_of_asylum_Indonesia',
 'country_of_asylum_Burundi',
 'country_of_asylum_Montenegro',
 'country_of_asylum_Guinea-Bissau',
 'country_of_asylum_Bangladesh',
 'country_of_asylum_Colombia',
 'country_of_asylum_Rwanda',
 'country_of_asylum_Malta',
 'country_of_asylum_Malaysia',
 'country_of_asylum_Lebanon',
 'population_type_RET',
 'country_of_asylum_Haiti',
 'country_of_asylum_Romania',
 'country_of_asylum_Kazakhstan',
 'country_of_asylum_United Arab Emirates',
 'country_of_asylum_Saudi Arabia',
 'country_of_asylum_Ghana',
 'country_of_origin_Bhutan',
 'country_of_asylum_Italy',
 'country_of_asylum_Angola',
 'country_of_asylum_Kuwait',
 'country_of_asylum_Sri Lanka',
 'country_of_asylum_Togo',
 'country_of_origin_Albania',
 'country_of_asylum_Russian Federation',
 'country_of_asylum_Benin',
 'country_of_asylum_Venezuela',
 'country_of_asylum_Senegal',
 'country_of_asylum_Moldova',
 'country_of_origin_Slovakia',
 'country_of_asylum_Germany',
 'country_of_origin_Egypt',
 'country_of_origin_Namibia',
 'country_of_asylum_Lithuania',
 'country_of_asylum_Republic of Korea',
 'country_of_origin_Montenegro',
 'country_of_asylum_Mali',
 'country_of_origin_Uzbekistan',
 'country_of_asylum_Dominican Republic',
 'country_of_asylum_Kyrgyzstan',
 'country_of_origin_Liberia',
 'country_of_asylum_Somalia',
 'country_of_origin_Ethiopia',
 'country_of_asylum_Trinidad and Tobago',
 'country_of_origin_Croatia',
 'country_of_origin_Czech Republic',
 'country_of_asylum_Zambia',
 'country_of_asylum_Estonia',
 'country_of_asylum_Israel',
 'country_of_origin_Republic of Korea',
 'country_of_origin_Netherlands',
 'country_of_origin_Zambia',
 'country_of_origin_Congo',
 'country_of_asylum_Sierra Leone',
 'country_of_origin_Cameroon',
 'country_of_asylum_Madagascar',
 'country_of_origin_Bosnia and Herzegovina',
 'country_of_asylum_Paraguay',
 'country_of_origin_Mauritius',
 'country_of_origin_Chad',
 'country_of_asylum_Latvia',
 'country_of_origin_Latvia',
 'country_of_origin_Senegal',
 'country_of_origin_Israel',
 'country_of_origin_Moldova',
 'country_of_origin_Austria',
 'country_of_asylum_Zimbabwe',
 'country_of_asylum_Liberia',
 'country_of_asylum_Cambodia',
 'country_of_origin_Bulgaria',
 'country_of_origin_Eritrea',
 'country_of_asylum_Eritrea',
 'country_of_origin_North Macedonia',
 'country_of_asylum_Tajikistan',
 'country_of_origin_Guinea',
 'country_of_origin_Saint Lucia',
 'country_of_origin_Serbia',
 'country_of_asylum_Thailand',
 'country_of_origin_Malaysia',
 'country_of_origin_Stateless',
 'country_of_origin_Turkmenistan',
 'country_of_origin_Poland',
 'country_of_origin_Nigeria',
 'country_of_origin_Grenada',
 'country_of_origin_Pakistan',
 'country_of_origin_Antigua and Barbuda',
 'country_of_asylum_Lesotho',
 'country_of_origin_Armenia',
 'country_of_asylum_Mozambique',
 'country_of_origin_Sierra Leone',
 'country_of_asylum_Chile',
 'country_of_asylum_Armenia',
 'country_of_asylum_Gambia',
 'country_of_origin_Greece',
 'country_of_asylum_Honduras',
 'country_of_asylum_Iceland',
 'country_of_asylum_Cayman Islands',
 "country_of_origin_Cte d'Ivoire",
 'country_of_asylum_Burkina Faso',
 'country_of_origin_Barbados',
 'country_of_asylum_Bahrain',
 'country_of_origin_Burundi',
 'country_of_asylum_Qatar',
 'country_of_origin_Belarus',
 'population_type_OOC',
 'country_of_origin_Hungary',
 'country_of_origin_Georgia',
 'country_of_origin_Ghana',
 'country_of_asylum_Oman',
 'country_of_origin_Germany',
 'country_of_origin_United Republic of Tanzania',
 'country_of_origin_Saint Vincent and The Grenadines',
 'country_of_origin_Jordan',
 'country_of_origin_Lebanon',
 'country_of_origin_Japan',
 'country_of_origin_Estonia',
 'country_of_origin_Seychelles',
 'country_of_origin_Rwanda',
 'country_of_origin_Malawi',
 'country_of_asylum_Czech Republic',
 'country_of_asylum_Poland',
 'country_of_asylum_Peru',
 'country_of_origin_Brazil',
 'country_of_origin_China',
 'country_of_origin_Singapore',
 'country_of_origin_Guyana',
 'country_of_asylum_Mongolia',
 'country_of_origin_Trinidad and Tobago',
 'country_of_origin_Australia',
 'country_of_origin_Saint Kitts and Nevis',
 'country_of_origin_Laos',
 'country_of_origin_North Korea',
 'country_of_origin_Lithuania',
 'country_of_origin_Qatar',
 'country_of_asylum_Cameroon',
 'country_of_origin_Samoa',
 'country_of_asylum_Nauru',
 'country_of_origin_Botswana',
 'country_of_origin_Dominica',
 'country_of_origin_Cyprus',
 'country_of_origin_Portugal',
 'country_of_asylum_Uganda',
 'country_of_origin_Finland',
 'country_of_origin_Bahamas',
 'population_type_STA',
 'country_of_origin_Madagascar',
 'country_of_origin_Zimbabwe',
 'country_of_origin_Norway',
 'country_of_origin_Romania',
 'population_type_RDP',
 'country_of_origin_Nepal',
 'country_of_origin_China, Hong Kong Special Administrative Region',
 'country_of_asylum_Bosnia and Herzegovina',
 'country_of_origin_Mexico',
 'country_of_origin_Cabo Verde',
 'country_of_origin_Bahrain',
 'country_of_asylum_Suriname',
 'country_of_asylum_Bahamas',
 'country_of_asylum_Jamaica',
 'country_of_asylum_Japan',
 'country_of_origin_Tajikistan',
 'country_of_origin_India',
 'country_of_asylum_China, Macao Special Administrative Region',
 'country_of_origin_Luxembourg',
 'country_of_origin_Bermuda',
 'country_of_origin_Ireland',
 'country_of_origin_Colombia',
 'country_of_origin_Turks and Caicos Islands',
 'country_of_origin_Fiji',
 'country_of_asylum_Nepal',
 'country_of_origin_Sudan',
 'country_of_origin_Kazakhstan',
 'country_of_asylum_El Salvador',
 'country_of_origin_Venezuela',
 'country_of_origin_Chile',
 'country_of_origin_Comoros',
 'country_of_origin_Kyrgyzstan',
 'country_of_asylum_Guatemala',
 'country_of_asylum_Sint Maarten Dutch',
 'country_of_origin_Italy',
 'country_of_origin_Argentina',
 'country_of_asylum_Seychelles',
 'country_of_asylum_Myanmar',
 'country_of_origin_Tuvalu',
 'country_of_origin_Cook Islands',
 'country_of_origin_South Africa',
 'country_of_origin_Spain',
 'country_of_origin_Oman',
 'country_of_origin_Vanuatu',
 'country_of_origin_Togo',
 'country_of_origin_Democratic Republic of the Congo',
 'country_of_origin_Gabon',
 'country_of_asylum_Central African Republic',
 'country_of_origin_Uruguay',
 'country_of_origin_Vietnam',
 'country_of_origin_Guatemala',
 'country_of_origin_Mauritania',
 'country_of_origin_Ukraine',
 'country_of_origin_Sweden',
 'country_of_origin_Belgium',
 'country_of_asylum_Belarus',
 'country_of_origin_Kingdom of Eswatini',
 'country_of_asylum_Fiji',
 'country_of_origin_Kenya',
 'country_of_asylum_Singapore',
 'country_of_origin_Turkey',
 'country_of_asylum_Guyana',
 'country_of_origin_Angola',
 'country_of_asylum_East Timor',
 'country_of_origin_Papua New Guinea',
 'country_of_asylum_Guinea',
 'country_of_asylum_Nicaragua',
 'country_of_asylum_Vanuatu',
 'country_of_origin_Holy See',
 'country_of_asylum_Federated States of Micronesia',
 'country_of_origin_New Zealand',
 'country_of_asylum_Albania',
 'country_of_origin_Sao Tome and Principe',
 'country_of_origin_Equatorial Guinea',
 'country_of_asylum_Bolivia',
 'country_of_origin_Cayman Islands',
 'country_of_origin_Benin',
 'country_of_origin_Burkina Faso',
 'country_of_origin_Mongolia',
 'country_of_origin_Suriname',
 'country_of_origin_Libya',
 'country_of_asylum_Slovakia',
 'country_of_origin_Haiti',
 'country_of_origin_Nicaragua',
 'country_of_origin_Jamaica',
 'country_of_origin_Monaco',
 'country_of_asylum_Samoa',
 'country_of_origin_French Guiana',
 'country_of_asylum_Curaao',
 'country_of_origin_Ecuador',
 'country_of_origin_Costa Rica',
 'country_of_asylum_North Macedonia',
 'country_of_origin_Belize',
 'country_of_origin_Morocco',
 'country_of_asylum_Palau',
 'country_of_origin_Martinique',
 'country_of_origin_Canada',
 'country_of_asylum_Turkmenistan',
 'country_of_origin_Slovenia',
 'country_of_origin_Thailand',
 'country_of_asylum_Kingdom of Eswatini',
 'country_of_asylum_Finland',
 'country_of_asylum_Solomon Islands',
 'country_of_asylum_Monaco',
 'country_of_asylum_Tonga',
 'country_of_origin_Bolivia',
 'country_of_origin_Cambodia',
 'country_of_origin_Panama',
 'country_of_origin_Dominican Republic',
 'country_of_origin_Paraguay',
 'country_of_origin_Mali',
 'country_of_asylum_British Virgin Islands',
 'country_of_asylum_Anguilla',
 'country_of_origin_Saudi Arabia',
 'country_of_origin_France',
 'country_of_asylum_Georgia',
 'country_of_asylum_Mauritius',
 'country_of_origin_Denmark',
 'country_of_origin_Russian Federation',
 'country_of_origin_Indonesia',
 'population_type_VDA',
 'country_of_asylum_Saint Lucia',
 'country_of_origin_East Timor',
 'country_of_asylum_Aruba',
 'country_of_asylum_Saint Kitts and Nevis',
 'country_of_origin_Tonga',
 'country_of_asylum_Laos',
 'country_of_origin_Saint Martin France',
 'country_of_origin_Palau',
 'country_of_origin_Iceland',
 'country_of_asylum_Vietnam',
 'country_of_origin_Guam',
 'country_of_origin_Puerto Rico',
 'country_of_origin_San Marino',
 'country_of_origin_Kiribati',
 'country_of_asylum_Niger',
 'country_of_asylum_Liechtenstein',
 'country_of_origin_Sri Lanka',
 'country_of_origin_Cuba',
 'country_of_asylum_Turks and Caicos Islands',
 'country_of_origin_Kuwait',
 'country_of_origin_Niger',
 'country_of_origin_Maldives',
 'country_of_origin_Sint Maarten Dutch',
 'country_of_origin_Guadeloupe',
 'country_of_origin_Anguilla',
 'country_of_asylum_Montserrat',
 'country_of_origin_Niue',
 'country_of_origin_Solomon Islands',
 'country_of_asylum_Antigua and Barbuda',
 'country_of_origin_Brunei Darussalam',
 'country_of_asylum_Papua New Guinea',
 'country_of_origin_El Salvador',
 'country_of_origin_Philippines',
 'country_of_origin_Saint Pierre and Miquelon',
 'country_of_origin_Bangladesh',
 'country_of_origin_Uganda',
 'country_of_asylum_Barbados',
 'country_of_origin_Switzerland',
 'country_of_origin_United Arab Emirates',
 'country_of_origin_China, Macao Special Administrative Region',
 'country_of_asylum_Uzbekistan',
 'country_of_origin_United States of America',
 'country_of_asylum_Grenada',
 'country_of_origin_Mozambique',
 'country_of_origin_Lesotho',
 'country_of_origin_Peru',
 'country_of_origin_Djibouti',
 'country_of_origin_United Kingdom of Great Britain and Northern Ireland',
 'country_of_origin_Honduras',
 'country_of_origin_Tibetan',
 'country_of_origin_Algeria',
 'country_of_origin_Tunisia',
 'country_of_origin_Somalia',
 'country_of_origin_Gambia',
 'country_of_origin_Guinea-Bissau',
 'country_of_origin_Malta',
 'country_of_origin_Andorra']

In [83]:
chi2_scores['p-value'].describe()

/Users/dayosangowawa/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

count    4.070000e+02
mean     1.191949e-01
std      2.326823e-01
min      0.000000e+00
25%      7.432761e-20
50%      1.786166e-05
75%      9.785800e-02
max      9.949874e-01
Name: p-value, dtype: float64