
# UNHCR Forcibly Displaced Populations Capstone Project

## Chi-square Feature Selection

---

This was completed **before** the modelling stage, to compare the features selected using the Chi-square test with the
top postiviely and negatively correlated features highlighted from the top performing model when all of the possible features were included. However it was not used for feature selection on this instance, instead it was used to evaluate the performance of the model.

In future, it would be better to complete this step and use the results to reduce dimensionality (and noise). This would improve the efficiency and effectiveness of the predictive models.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import label_binarize
from sklearn import preprocessing
import scikitplot as skplt
from sklearn.feature_selection import SelectKBest, chi2

In [4]:
df = pd.read_csv('/Users/dayosangowawa/Desktop/GA/DSI20-lessons/projects/project-capstone/My Capstone/Forcibly displaced persons - Capstone Dayo Sangowawa/cleaned_unhcrdf_final.csv')
df.head()

,Unnamed: 0,country_of_origin,country_of_asylum,population_type,urban_or_rural_location,accommodation_type,female_aged_0-4 years,female_aged_5-11 years,female_aged_12-17 years,female_aged_18-59 years,female_aged_over_60_years,male_aged_0-4_years,male_aged_5-11_years,male_aged_12-17 years,male_aged_18-59_years,male_aged_over_60_years
0,0,Colombia,Aruba,ASY,Urban,I,0,0,0,0,0,0,0,0,5,0
1,1,Cuba,Aruba,ASY,Urban,I,0,0,0,0,0,0,0,0,0,0
2,2,Afghanistan,Afghanistan,IDP,Rural,I,0,14,16,37,0,0,15,17,38,5
3,3,Afghanistan,Afghanistan,IDP,Urban,Q,74,810,853,2004,140,75,840,921,2278,206
4,4,Afghanistan,Afghanistan,IDP,Urban,Q,12,130,138,321,21,12,135,147,365,33

In [5]:
df.drop(columns = ['Unnamed: 0'], inplace=True)

In [6]:
df.head()

,country_of_origin,country_of_asylum,population_type,urban_or_rural_location,accommodation_type,female_aged_0-4 years,female_aged_5-11 years,female_aged_12-17 years,female_aged_18-59 years,female_aged_over_60_years,male_aged_0-4_years,male_aged_5-11_years,male_aged_12-17 years,male_aged_18-59_years,male_aged_over_60_years
0,Colombia,Aruba,ASY,Urban,I,0,0,0,0,0,0,0,0,5,0
1,Cuba,Aruba,ASY,Urban,I,0,0,0,0,0,0,0,0,0,0
2,Afghanistan,Afghanistan,IDP,Rural,I,0,14,16,37,0,0,15,17,38,5
3,Afghanistan,Afghanistan,IDP,Urban,Q,74,810,853,2004,140,75,840,921,2278,206
4,Afghanistan,Afghanistan,IDP,Urban,Q,12,130,138,321,21,12,135,147,365,33

In [7]:
y = df.pop('accommodation_type')
X = pd.get_dummies(df, drop_first=True)

In [9]:
X_best = SelectKBest(chi2, k=20)

In [10]:
X_best.fit_transform(X, y)

array([[ 0,  0,  0, ...,  0,  0,  1],
       [ 0,  0,  0, ...,  0,  0,  1],
       [ 0, 14, 16, ...,  0,  0,  0],
       ...,
       [ 5,  5,  0, ...,  0,  0,  1],
       [ 6, 10,  6, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  1]])

In [11]:
chi2_scores = pd.DataFrame(list(zip(X.columns, X_best.scores_, X_best.pvalues_)),
                          columns=['Feature', 'Score', 'p-value'])

### Top Features

The dataframe below sorts the features by their calculated Chi-square score, with features with the highest score at the top. As seen in the dataframe, the higher Chi-square scores correlate with the lowest p-values, implying that these are the top features that have the greatest correlations with the target variable.

In [40]:
top_20_features= chi2_scores.sort_values(by='Score', ascending=False).head(20).reset_index().drop(columns=['index']).rename(columns ={'Feature': 'Top Features'})
top_20_features

                                  Top Features         Score        p-value
0                      female_aged_18-59 years  6.859580e+06   0.000000e+00
1                         male_aged_5-11_years  4.883104e+06   0.000000e+00
2                       female_aged_5-11 years  4.662963e+06   0.000000e+00
3                          male_aged_0-4_years  3.897951e+06   0.000000e+00
4                        male_aged_18-59_years  3.880845e+06   0.000000e+00
5                        female_aged_0-4 years  3.630335e+06   0.000000e+00
6                      female_aged_12-17 years  2.723511e+06   0.000000e+00
7                        male_aged_12-17 years  2.563174e+06   0.000000e+00
8                    female_aged_over_60_years  3.117956e+05   0.000000e+00
9                      male_aged_over_60_years  2.920760e+05   0.000000e+00
10               urban_or_rural_location_Urban  4.739007e+03   0.000000e+00
11                     country_of_asylum_Sudan  2.165524e+03   0.000000e+00
12                  country_of_asylum_Bulgaria  1.962003e+03   0.000000e+00
13                  country_of_asylum_Ethiopia  1.944949e+03   0.000000e+00
14                   country_of_asylum_Hungary  1.724527e+03   0.000000e+00
15                    country_of_asylum_Turkey  1.607148e+03   0.000000e+00
16                     country_of_asylum_Kenya  1.353748e+03  2.361174e-296
17                   country_of_asylum_Namibia  1.265478e+03  3.592519e-277
18  country_of_origin_Central African Republic  1.213871e+03  5.898690e-266
19                    country_of_asylum_Malawi  1.113875e+03  3.186277e-244